.droplist__container{
  width: 320px;
  height: 48px;
  display: flex;
  align-items: center;
}
.droplist{
  display: flex;
  padding: 0px 16px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.droplist:hover{
  cursor: pointer;
  background: var(--bg-neutral, rgba(2, 22, 45, 0.05));
}
.p__droplist{
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}