.droplist__container{
  width: 320px;
  height: 48px;
  display: flex;
  align-items: center;
}
.droplist{
  display: flex;
  padding: 0px 16px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.droplist:hover{
  cursor: pointer;
  background: var(--black-100);
}
.p__droplist{
  font-family: Arial;  
  font-weight: 400;
  line-height: 150%;
}